#main{
    width: 30%;
    float: right;
    margin-right: 185px
}
.text{
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    margin-bottom: 6px;
    border:1px solid dimgray;
}
.name{
    width: 49.5%;
    padding: 6px;
    border-radius: 5px;
    margin-bottom: 6px;
    border:1px solid dimgray;
}
.submit{
    background: green;
    color:beige;
    padding-right:5px;
    padding-left: 5px;
    border-right: 3px;
}
#image{
    width: 30%;
    float: left;
    margin: 9px;
    height: 20px;
}
.users{
    width: 40%;
    float: left;
}

.navbar-default{
  background-color: #3b5998;
  color: white;
  margin-left:800px;
  margin-right:10px;
}

.navbar-default a{
  color: white;
  margin: 5px;
  height: 5px;
}
